.header__logo {
    width: 46px;
    height: 18px;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    margin-top: 27px;
    margin-left: 180px;
}