.payment {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 180px;
}

.payment__title {
    width: 387px;
    height: 124px;
    font-size: 48px;
    line-height: 62px;
    color: #232427;
    margin-top: 100px;
    margin-bottom: 15px;
}

.payment__title-detail {
    width: 575px;
    height: 24px;
    line-height: 24px;
    color: #9998A4;
    margin-top: 0;
    margin-bottom: 62px;
}

.payment__button-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 130px;
    width: 308px;
}

.payment__button-app {
    background: #2962EF;
    border-radius: 4px;
    width: 144px;
    height: 40px;
    border: 0;
    margin-right: 19px;
    cursor: pointer;
}

.payment__button-demo {
    border-radius: 4px;
    width: 144px;
    height: 40px;
    border: 0;
    cursor: pointer;
}

.payment__subtitle {
    line-height: 24px;
    text-transform: uppercase;
    color: #9998A4;
    margin-top: 0;
    margin-bottom: 25px;
    width: 260px;
    height: 24px;
}

.payment__container-items {
    display: flex;
    flex-direction: row;
    width: 540px;
}

.payment__subtitle-item {
    margin-right: 80px;
}

.payment__subtitle-item:last-child {
    margin-left: 2px;
}

.payment__subtitle-item-number {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #232427;
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 12px;
}

.payment__subtitle-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #5E5C6C;
    margin-top: 0;
}

.payment__image {
    position: absolute;
    right: 0;
    width: 55%;
}