.footer {
    background: #232427;
    display: flex;
    flex-direction: row;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 80px;
}

.footer-blockone {
    padding-top: 97px;
}

.footer-blocktwo {
    padding-top: 97px;
    margin-left: 589px;
}

.footer__logo {
    width: 46px;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0 0 20px 0;
}

.footer-text {
    width: 347px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-age {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #D6D5DF;
    width: 169px;
    margin: 96px 0 0 0;
}

.footer-subscribe {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0 0 12px 0;
}

.footer-telegram-button {
    width: 40px;
    height: 40px;
    background-color: #2962EF;
    border-radius: 4px;
    border: none;
    margin-top: 8px;
    margin-left: 117px;
    cursor: pointer;
    display: flex;
    background-image: url("../../images/telegram icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.footer-search {
    width: 344px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
}

.footer-input {
    padding: 0 0 0 20px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #9998A4;
    outline: 0 !important;
}

.footer-link-icons {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    cursor: pointer;
}

.footer-icon {
    width: 50px;
    height: 50px;
    background: #5E5C6C;
    margin-right: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon:hover {
    opacity: 0.7;
}

.icon-size {
    width: 20px;
    height: 20px;
}
