@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);

@import url(./components/header/header.css);

@import url(./components/payment/payment.css);

@import url(./components/steps/steps.css);

@import url(./components/world/world.css);

@import url(./components/cards/cards.css);

@import url(./components/footer/footer.css);

body {
    /*min-width: 320px;*/
    /*max-width: 1280px;*/
    /*max-width: 1280px;*/
    /*min-width: 320px;*/
    font-weight: 400;
    margin: 0 auto;
    font-family: 'Metropolis', 'Arial', sans-serif;
}